<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Log in</title>
  {% block stylesheets %}
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/bower_components/font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/bower_components/Ionicons/css/ionicons.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/dist/css/AdminLTE.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/plugins/iCheck/square/blue.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
 {% endblock %}
</head>
{% block body %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a><b>STOCK</b>ULT</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
<div class="login-logo">
    <a ><b>STOCK</b>ULT</a>
     </div>
    <p class="login-box-msg">S'inscrire pour ouvrir votre propre session</p>
 
   <form action="{{ path('security_login') }}" method="post">
    <div class="form-group has-feedback">
        <input type="email" name="_username" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      
    </div>
    <div class="form-group">
        <input type="password" name="_password" placeholder="Mot de passe ..." class="form-control" required />
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">Se souvenir de moi</label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" name="login">Connexion</button>
    </div>

</form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> S'inscrire avec
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> S'inscrire avec
        Google+</a>
    </div>
    <!-- /.social-auth-links -->

    <a href="#">J'ai oublié mon mot de passe</a><br>
    <a href="{{path('security_registration')}}" class="text-center">Enrigstrer en tant que nouveau utilisateur</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}
{% block javascripts %}
<!-- jQuery 3 -->
<script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('assets/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/plugins/iCheck/icheck.min.js') }}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
{% endblock %}
</body>
</html>
